body {
  background-color: var(--green-spring-300);
  margin: 0;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.tarjeta-formulario {
  background-color: var(--bay-leaf-50);
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
}

.cabecera h2 {
  text-align: center;
  font-size: 30px;
  color: var(--silver-tree-400);
  margin-bottom: 25px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campo label {
  font-weight: bold;
  color: var(--bay-leaf-700);
}

.campo input {
  padding: 12px;
  border: 1px solid var(--bay-leaf-200);
  border-radius: 8px;
  outline: none;
}

.campo select {
  padding: 12px;
  border: 1px solid var(--bay-leaf-200);
  border-radius: 8px;
  outline: none;
}

.botones {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn-guardar {
  flex: 2;
  background-color: var(--silver-tree-400);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-cancelar {
  flex: 1;
  background-color: #e74c3c;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
}