<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/colors.css}">
    <link rel="stylesheet" th:href="@{/css/productos.css}">
    <title>Detalles de Venta</title>
</head>
<body class="fondo-app">
    <div class="contenedor-principal">
        <center><h1 class="titulo-pagina">Desglose de Productos Vendidos</h1></center>
        
        <div class="seccion-botones">
            <a th:href="@{/}" class="btn-general btn-volver">← Menú Principal</a>
            <a th:href="@{/vistas/detalles/nuevo}" class="btn-general btn-primario">+ Agregar Producto a Venta</a>
        </div>

        <table class="tabla-moderna">
            <thead>
                <tr>
                    <th>ID Detalle</th>
                    <th>No. Venta</th>
                    <th>ID Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unit.</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="d : ${detalles}">
                    <td th:text="${d.codigoDetalleVenta}"></td>
                    <td th:text="${d.venta.codigoVenta}"></td>
                    <td th:text="${d.producto.codigoProducto}"></td>
                    <td th:text="${d.cantidad}"></td>
                    <td th:text="'Q ' + ${d.precioUnitario}"></td>
                    <td th:text="'Q ' + ${d.subtotal}" style="font-weight: bold;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>