<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/colors.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/productos.css}">
  <title>Gestión de Productos - Kinal App</title>
</head>
<body>
  <main>
    <div class="contenedor-principal">
    
      <div class="panel-lateral">
        <div class="contenedor-acciones-vertical">
          <a th:href="@{/vistas/productos/nuevo}" class="boton-lateral">Nuevo Producto</a>
          <a th:href="@{/vistas/productos(activos=${!soloActivos})}" 
              th:text="${soloActivos ? 'Ver Todos' : 'Ver Activos'}" 
              class="boton-lateral"></a>
          <a th:href="@{/vistas/productos}" class="boton-lateral btn-limpiar">Listar Todos</a>
          <a th:href="@{/}" class="boton-lateral btn-home">Volver al Inicio</a>
        </div>
      </div>

      <div class="contenedor-tabla">
        <div class="contenedor-cabecera">
          <h2>Gestión de Productos</h2>

          <form th:action="@{/vistas/productos}" method="get" class="barra-busqueda">
            <input type="number" name="busqueda" placeholder="Buscar por ID...">
            <button type="submit" class="btn-buscar"></button>
          </form>
        </div>

        <table class="tabla-usuarios">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="p : ${productos}">
              <td th:text="${p.codigoProducto}"></td>
              <td th:text="${p.nombreProducto}"></td>
              <td th:text="${p.precio}"></td>
              <td th:text="${p.stock}"></td>
              <td>
                <span th:class="${p.estado == 1 ? 'estado-activo' : 'estado-inactivo'}"
                      th:text="${p.estado == 1 ? 'Activo' : 'Inactivo'}">
                </span>
              </td>
              <td class="celda-acciones">
                <a th:href="@{/vistas/productos/editar/{id}(id=${p.codigoProducto})}">Editar</a>
                <a th:href="@{/vistas/productos/eliminar/{id}(id=${p.codigoProducto})}" onclick="return confirm('¿Eliminar este producto?');">
                  Eliminar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>
</html>