<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/colors.css}">
    <link rel="stylesheet" th:href="@{/css/productos.css}">
    <title>Historial de Ventas</title>
</head>
<body class="fondo-app">
    <div class="contenedor-principal">
        <center><h1 class="titulo-pagina">Registro de Ventas (Facturación)</h1></center>
        
        <div class="seccion-botones">
            <a th:href="@{/}" class="btn-general btn-volver">← Menú Principal</a>
            <a th:href="@{/vistas/ventas/nuevo}" class="btn-general btn-primario">+ Registrar Nueva Venta</a>
        </div>

        <table class="tabla-moderna">
            <thead>
                <tr>
                    <th>No. Factura</th>
                    <th>Fecha</th>
                    <th>Cliente (DPI)</th>
                    <th>Vendedor (ID)</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="v : ${ventas}">
                    <td th:text="${v.codigoVenta}" style="font-weight:bold;"></td>
                    <td th:text="${v.fechaVenta}"></td>
                    <td th:text="${v.cliente.DPICliente}"></td>
                    <td th:text="${v.usuario.codigoUsuario}"></td>
                    <td th:text="'Q ' + ${v.total}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>