body {
  background-color: var(--green-spring-300);
  margin: 0;
}

.header {
  background-color: var(--bay-leaf-500);
  color: var(--finch-50);
  padding: 40px;
  text-align: center;
  border-bottom: 15px solid var(--bay-leaf-700);
}

.header h2 {
  font-size: 36px;
  margin-bottom: 15px;
  color: var(--bay-leaf-800);
}

.header p {
  color: var(--bay-leaf-800);
  font-size: 20px;
}

.contenedor-principal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 80px 10%;
}

.contenedor-entidades {
  max-width: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 30px;
}

.entidad {
  background-color:  var(--bay-leaf-50);
  border-radius: 12px;
  width: 100%;
  gap: 60px;
  padding: 20px;
}

.entidad h3 {
  max-width: 350px;
  width: 350px;
  margin-bottom: 15px;
}

.boton-inspeccionar {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--bay-leaf-400);
  color: var(--finch-50);
  border-radius: 8px;
}

.boton-inspeccionar:hover {
  background-color: var(--bay-leaf-500);
  color: var(--green-spring-200);
}

.contenedor-entidades-fk {
  max-width: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 30px;
}