body {
  background-color: var(--green-spring-300);
  margin: 0;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  padding: 40px;
  gap: 20px;
}

.panel-lateral {
  background-color: var(--bay-leaf-600);
  width: 250px;
  padding: 30px 20px;
  border-radius: 15px;
}

.contenedor-acciones-vertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contenedor-acciones-vertical a {
  text-decoration: none;
  padding: 15px;
  background-color: var(--bay-leaf-400);
  color: white;
  border-radius: 10px;
  text-align: center;
}

.contenedor-acciones-vertical a:hover {
  background-color: var(--silver-tree-400);
}

.contenedor-tabla {
  background-color: var(--bay-leaf-50);
  max-width: 1000px;
  padding: 30px;
  border-radius: 15px;
}

.contenedor-tabla h2 {
  font-size: 35px;
  color: var(--silver-tree-400);
}

.contenedor-cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--green-spring-200);
  padding-bottom: 15px;
}

.barra-busqueda {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  padding: 5px 15px;
  border-radius: 50px;
  border: 1px solid var(--bay-leaf-200);
}

.barra-busqueda input {
  border: none;
  outline: none;
  padding: 8px;
  width: 200px;
  font-size: 20px;
  color: var(--green-spring-800);
}

.btn-buscar {
  background: none;
  border: none;
  cursor: pointer;
}

.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.tabla-usuarios th {
  background-color: var(--bay-leaf-700);
  color: white;
  padding: 15px;
}

.tabla-usuarios td {
  padding: 15px;
  border-bottom: 1px solid var(--green-spring-100);
}

.tabla-usuarios a {
  text-decoration: none;
  padding: 5px;
  background-color: var(--bay-leaf-400);
  color: white;
  border-radius: 10px;
  text-align: center;
}

.tabla-usuarios a:hover {
  background-color: var(--silver-tree-400);
}
