<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/colors.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css//form/form-entity.css}">
  <title th:text="${titulo}"></title>
</head>
<body>
  <div class="contenedor-principal">
    <div class="tarjeta-formulario">
      <div class="cabecera">
        <h2 th:text="${titulo}"></h2>
      </div>
      <form th:action="@{/vistas/clientes/guardar}" th:object="${cliente}" method="post" class="formulario">
        <div class="campo">
          <label>DPI</label>
          <input type="text" th:field="*{DPICliente}" required>
        </div>
        <div class="campo">
          <label>Nombre</label>
          <input type="text" th:field="*{nombreCliente}" required>
        </div>
        <div class="campo">
          <label>Apellido</label>
          <input type="text" th:field="*{apellidoCliente}" required>
        </div>
        <div class="campo">
          <label>Dirección</label>
          <input type="text" th:field="*{direccion}" required>
        </div>
        <div class="campo">
          <label>Estado</label>
          <select th:field="*{estado}">
            <option th:value="1">Activo</option>
            <option th:value="0">Inactivo</option>
          </select>
        </div>
        <div class="botones">
          <button type="submit" class="btn-guardar">Confirmar</button>
          <a th:href="@{/vistas/clientes}" class="btn-cancelar">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>